body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjeta div{
    border: 2px solid #4e8fc5;
    border-radius: 10px;
    text-align: center;
    width: 12rem;
    margin: 1rem;
    padding: 1rem;
}
button{
    margin-bottom: 1rem;
}